<div id="text">
<p>Hello,<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="2">My name is <font size="4">Aaron Elias Wilson-Rosenfield</font>. Kind of a mouthful, right? Just by reading it you wouldn't really think so, but somehow people et my name wrong about 90% of the time.<br />
<br />
The problem generally occurs when my  surmant has to pass through any type of bureaucracy. In high school, I was regisered as Aaron Rosen-field. When I got to my senior year it turned out that I had zero credits because I had been registered under the wrong name the entire time. When I got to college I ended up being registered under six different names due to typos. My name never fits on website forms (and sometimes gets rejected because of the hyphen), and when sitting at the doctors office I have to take extra special care to jam my name into the small field alloted.<br />
<br />
By day I'm a freelance graphic designer, and as such I need to sell myself to clients all the time. Some people change their names to make themselves more memorable - actors for example who sometimes have stage names. Why not do the same for myself? However, I'm not entirely sold on what to change my name to so I've decided to leave fate up to the internet. Design me a name, world. A new surname that will be passed on to generations to come. Something new, something interesting, something memorable. Vote for your favorite, and on <b>November 15th</b> when <b>voting ends</b> I will choose my favorite from the top 10 and legally change my name!<br />
<br />
Want to take a stab at it? Fill out the super quick form below and submit your suggestion!</font></p>

</div>

<div class="login">
  <%= link_to image_tag( '/images/signin_twitter.png'), new_suggestion_path %>
  &nbsp;
  <%= link_to 'View Suggestions', { :action => "show" } %>
</div>